.recipe.selected {
    background-color: rgba(201, 104, 1, 1);
}

.recipe {
    background-color: rgba(250, 156, 55, 1);
    border-radius: 15px;
    display: flex;
    justify-content: flex-start;
    height: 144px;
    padding: 10px;
    text-decoration: none;
    overflow: clip;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.recipe__description {
    height: 80px;
    width: 800px;
}

.recipe__image {
    display: flex;
    min-width: 80px;
    height: 126px;
    width: 126px;
    border-radius: 15px;
    padding: 5px;
    background-color: #ffffff;
    align-items: center;
    justify-content: center;
    margin-right: 10px;

}

.recipe__image img{
    height: 95px;
    max-width: 85px;
}

.recipe__beer-characteristic {
    display: flex;
    justify-content: flex-start;
}

.recipe__beer-characteristic__ibu {
    margin-left: 5px;
}
